* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #636363;
  font-family: "Anek Latin", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: 0.5s;
}
li {
  list-style: none;
}
.fancybox__caption {
  text-align: center;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
.btn-gradient:hover {
  cursor: pointer;
  background-position: right center;
}
section {
  display: block;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.header_content nav {
  display: flex;

  align-items: center;
}
.header_content nav ul {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.header_content nav ul li {
  display: list-item;
  padding: 0 20px;
}
.header_content nav span {
  color: black;
  font-weight: 500;
  transition: 0.5s;
}
.header_content nav ul li a {
  text-decoration: none;
  padding: 30px 0;
}
.header_content nav i {
  font-size: 9px;
  vertical-align: middle;
}
.header_content a span {
  display: inline-block;
  transition: all 0.6s;
}
.header_content a:hover i {
  color: #f55f8d;
}
.header_content a:hover span {
  color: #f55f8d;
}
.header_content a:hover span {
  animation: upToDown 0.3s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* carousel  */
.carousel {
  overflow: hidden;
  background-image: url(./image/pic2.png);
  background-position: top center;
  background-size: 100%;
  padding-top: 180px;
}
.carousel .container {
  display: flex;
  align-items: center;
}
.carousel_left {
  width: 60%;
}
.carousel_right {
  width: 40%;
}

.ca_article ul {
  margin-bottom: 20px;
}
.ca_article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}
.ca_article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.ca_article p {
  font-size: 18px;
  margin-bottom: 15px;
}
.ca_banner {
  width: 570px;
  margin-left: 50px;
}
.ca_banner img {
  max-width: 100%;
  display: block;
}

.services {
  padding-bottom: 0;
  background-image: url(./image/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}

.services_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.se_item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.se_item img {
  width: 215px;
}

.se_item:hover {
  transform: translateY(-20px);
}

/* about us  */
.aboutus {
  background-image: url(./image/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.aboutus_content {
  padding-top: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.aboutus_left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.aboutus_left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutus_right {
  width: 50%;
}
.aboutus__right p {
  color: #636363;
}
.aboutus_right ul {
  margin-bottom: 30px;
}
.aboutus_right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* number  */
.number_auto {
  background-image: url(./image/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number_content {
  display: flex;
  justify-content: space-around;
}
.number_content .number_item {
  width: 25%;
}
.number_item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number_content .number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_content .number_item span {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number_item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* feature  */
.features__content {
  padding-top: 115px;
  display: flex;
  justify-content: flex-start;
}
.features__left {
  width: 50%;
}
.features__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.features__bg h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.features__bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 0.5s;
}
.features__bg p {
  color: #636363;
  transition: all 0.5s;
}
.features__bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
  z-index: 0;
  transition-timing-function: ease-out;
}
.features__bg:hover::after {
  opacity: 1;
}
.features__group .features__item {
  padding: 0px 50px 30px 0px;
}
.features__item.item_mid {
  padding: 0px 0px 30px 50px;
}
.features__group .features__bg:hover p {
  color: white;
}
.features__group .features__bg:hover h3 {
  color: white;
}
.features__group .features__bg:hover i {
  color: white;
}
.features__right {
  width: 50%;
}
.features__banner img {
  max-width: 100%;
  animation: move2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* portfolio */
.portfolio {
  padding-top: 115px;
  background-image: url(./image/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(3, minmax(1fr, 1.5fr));
  gap: 35px;
}
.portfolio__item {
  border: 1px solid lightblue;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item1 {
  grid-column: 1 / span 2;
}
.portfolio__item5 {
  grid-column: 1 / span 2;
}
.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__overlay:hover {
  opacity: 1;
}
.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__text p {
  color: white;
}
.portfolio__text h3 {
  color: white;
}
.portfolio__icon i {
  color: white;
}
.portfolio__overlay:hover .portfolio__icon {
  transform: translate(0);
  cursor: pointer;
}
.portfolio__overlay:hover .portfolio__text {
  transform: translate(0);
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}
#animated-thumbnails {
  margin: auto;
  text-align: center;
}
/* plan  */
.plan {
  padding-top: 115px;
  background-image: url(./image/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan .title {
  text-align: center;
}

.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item img {
  display: block;
  width: 125px;
  height: 125px;
  margin: 20px auto;
}
.plan__item h3 {
  text-align: center;
}
.plan__item button {
  display: block;
  margin: 0 auto;
}
.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
  text-align: center;
}
.plan__item {
  border-image: url("./image/br.png") 30 fill / 0px;
}
.plan__item:hover {
  border-image: url("./image/br.png") 30 fill / 30px;
}
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
.testimonial {
  padding-top: 115px;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}
.testimonial_title {
  text-align: center;
}
.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-pic {
  height: 170px;
  width: 100%;

  position: relative;
}

.shape-bx {
  width: 100%;
}

.testimonial-pic::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.testimonial-pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.swiper-slide-thumb-active .testimonial-pic::after {
  opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}
:root {
  --swiper-theme-color: #f55f8d;
}
.testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 65px;
  transform: translateX(-50%);
  background-image: url(./image/pattern12.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f55f8d;
  background-size: contain;
  height: 40%;
  width: 75%;
  transition: all 1s;
  opacity: 0;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx::before {
  opacity: 1;
}
.swiper-pagination {
  position: absolute;
  bottom: 0vh;
  left: 50%;
}
.swiper-container {
  position: relative;
}
.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
  display: block;
}
.testimonial-text {
  position: relative;
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  margin-top: 20px;
}
.testimonial-text span {
  font-size: 20px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 300;
  font-style: italic;
}
.testimonial-text i {
  position: absolute;
  top: 0px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* testimonial*/
/* blog  */
.blog {
  padding-top: 115px;
  background-image: url(./image/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.owl-carousel .item {
  margin-right: 20px;
}
.blog__item {
  position: relative;
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog__header img {
  width: 100%;
  border-radius: 8px;
}
.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 195px;
  left: 15px;
}
.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer p {
  margin-right: 20px;
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
/* footer  */
footer {
  background-image: url(./image/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(./image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./image/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
  font-weight: 600;
}
.footer__text {
  display: flex;
  align-items: center;
  width: 50%;
}
.footer__form {
  width: 50%;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form input:focus {
  border: 1px solid #f55f8d;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.footer__form button:hover {
  cursor: pointer;
  background-position: right center;
}
.footer__form button i {
  color: #fff;
}
.footer__form button:hover i {
  animation: lefttoright 0.5s;
}
.footer__bottom {
  display: flex;
  justify-content: flex-start;
  padding: 70px 0;
  position: relative;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 1s;
}

.footer__item a:hover {
  color: #fff;
}
.footer__item a:hover i {
  color: #fff;
}
.footer__item {
  width: 25%;
  transition: all 0.5s;
}
.footer__item li {
  padding: 10px 0;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
  transition: all 1s;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
  color: white;
}
.footer__contact span {
  color: #fff;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 15px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 45px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright i {
  color: #fff;
}
.footer__left p {
  color: #fff;
}
.footer__left span {
  color: #f55f8d;
}
.footer__copyright a:hover {
  background-color: #f55f8d;
}
@keyframes lefttoright {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* back to top  */

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden; 
  opacity: 0; 
}
.backToTop i {
  color: #fff;
}
.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out { 
  opacity: 1;
}